*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    width: 100%;
}

header{
    height: 10vh;
    background-color: #7BCCE9;
    
}

.cabeca{
    display: flex;
    height: 10vh;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.buscar{
    margin-top: 2%;
    height: 4vh;
    width: 80%;
    border: white;
    border-radius: 45px;
}

.icones{

    height: 4vh;
    width: 100px;
}

.icones2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
    width: 200px;
    margin-left: 15%;
}

.icns{
    margin-right: 5px;
    margin-top: 2%;
    height: 4vh;
    width: 120px;

}

.cinza {
    background-color: #FFFFFF;
    height: 5vh;
    color: azure;
    justify-content: space-evenly;
    display: flex;
}

.cinza a{
    display: inline-block;
    width: 15%;
    text-align: center;
}

.texto {
    font-weight: 400;
    color: white;
    font-size: 30px;
    margin-top: 2%;
}

.banner {
    height: 25vh;
    width: 100%;
}

.txt2 {
    color: #242525;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
}

.txt2:hover {
    background-color: #7BCCE9;
    transition: 0.6s;
}

#fundo {
    background-image: url(imagens/pattern.jpg);
    height: 125vh;
    width: 100%;

}
.imgsG{
    height: 20vh;
    width: 50%;
    object-fit: cover;
}

#img1{
    height: 20vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#img1>div{
    height: 5vh;
    width: 75%;
}
#img1>div h6{
    font-size: 20px;
    
}
#img1>div p{
    font-size: 20px;
   
    color: #1E90FF;
}
#img5{
    height: 20vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15%;
}
#img5>div{
    height: 5vh;
    width: 75%;
}
#img5>div h6{
    font-size: 20px;
    
}
#img5>div p{
    font-size: 20px;
  
    color: #1E90FF;
}


#img9{
    height: 20vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20%;
}
#img9>div{
    height: 5vh;
    width: 75%;
}
#img9>div h6{
    font-size: 20px;
    
}
#img9>div p{
    font-size: 20px;
   
    color: #1E90FF;
}


.btnComprar{
    margin-left: 25%;
    display: flex;
    justify-content: center;
    padding: 2% 5%;
    font-weight: 700;
    font-size: 25px;
    color: white;
    text-decoration: none;
    background-color: #F27C64;
    border-radius: 50px;
    width: 190px;
}

#aivei{
    height: 3vh;
    width: auto;
}

#rodape{
    background-color: #7BCCE9;
    height: 30vh;
    width: 100%;
    font-size: 30px;
    text-align: center;
}

h1{
    color: #FFFFFF;
    padding-top: 5%;
}

/* .nine{
    box-shadow: 4px 2px 2px 2px rgb(0,0,0,0.3 );
    background-color: #FFFFFF;
    width: 300px;
    height: 200px;
} */

